<md-card class="task-card">
  <md-card-title>Todos</md-card-title>
  <div class="flex-container" fxLayout="space-between center">
    <md-input-container>
      <input mdInput
            class="flex-item"  
            [(ngModel)]="todo"
            name="todo"
            type="text" 
            placeholder="Add things to do..."/>
    </md-input-container>
    <button md-fab
          class="flex-item" 
          (click)="addTask(todo.value)">
            <md-icon>add</md-icon>
    </button>
  </div>
  <md-card-content>
    <md-list>
      <md-list-item
        class="flex-container"
        fxLayoutAlign="start center"
        fxLayout="row"
        *ngFor="let todo of tasks; let i = index;">
          <div class="flex-item" fxFlex="80">
            <h4>{{todo.title}}</h4>
          </div>
          <div class="flex-item" fxFlex="20">
            <button md-button-flat (click)="removeTask(todo)">
              <!-- <i class="material-icons">delete</i> -->
              <md-icon>delete</md-icon>
            </button>
          </div>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>