<md-card id="timer">
    
    <md-card-title>{{time}}</md-card-title>
    <md-card-content fxLayoutAlign="center space-around">
        <!-- <md-grid-list cols="1" rowHeight="2:1">  -->
          <!-- <md-grid-tile colspan="1" rowspan="1"> -->
            <app-progress [timeString]="time"></app-progress>
          <!-- </md-grid-tile> -->
          <!-- <md-grid-tile colspan="1" rowspan="1"> -->
            
          <!-- </md-grid-tile> -->
       <!-- </md-grid-list>   -->
    </md-card-content>
    <md-card-actions>
            <button md-button (click)="start(20)">Start</button>
            <button md-button (click)="stop()">Stop</button>
    </md-card-actions>
</md-card>