<md-card class="task-card">
  <md-card-title>Task Queue</md-card-title>
  <div class="flex-container">
    <form (keyup.enter)="onSubmit($event);">
      <md-input-container *ngIf="addTask === true">
      <input mdInput
            class="flex-item"
            name="title"
            [(ngModel)]="title"
            (focusout)="addTask = false;"
            type="text"
            placeholder="Add things to do..."/>
      </md-input-container>
      <md-divider></md-divider>
    </form>
      <md-list *ngIf="addTask === false">
        <md-list-item>
          <button md-fab class="flex-item" color="primary" (click)="addTask = true; ">
            <md-icon>add</md-icon>
          </button>
        </md-list-item>
      </md-list>
  </div>
  <md-card-content>
    <md-list dense>
      <app-task *ngFor="let task of tasks; let i = index;" [task]="task"></app-task>
    </md-list>
  </md-card-content>
</md-card>
