 <!-- <md-card class="task-card">  -->
<section class="task-list">
  <md-card-title>Show Me The Things</md-card-title>
  <div class="flex-container" fxLayout="space-between center">
    <form (submit)="onSubmit($event);">
      <md-input-container>
      <input mdInput
            class="flex-item"
            name="title"
            [(ngModel)]="title"
            type="text" 
            placeholder="Add things to do..."/>
      </md-input-container>
      <button md-fab class="flex-item" >
        <md-icon>add</md-icon>
      </button>
    </form>
  </div>
  <md-card-content>
    <md-list>
      <md-list-item
        class="flex-container"
        fxLayoutAlign="start center"
        fxLayout="row"
        *ngFor="let task of tasks; let i = index;">
          <div class="flex-item" fxFlex="80">
             <h4 [style.color] = "isCompleted ? '#673AB7' : '#FFD740'">{{task.title}}</h4> <!-- fix ternary -->
          </div>
          <div class="flex-item" fxFlex="20">
            <button md-button-flat (click)="removeTask(task)">
              <md-icon>delete</md-icon>
            </button>
          </div>
      </md-list-item>
    </md-list>
  </md-card-content>
</section>
 <!-- </md-card>  -->